html, body {
    margin: 0;
    height: 100%;
}

h1, h2 {
	text-align: center;
}

.splash_screen {
	display: block;
	text-align: center;
}

.footer_logo {
	width: 100px;
	float: right;
}

.header {
	height: 10%
}

.content {
	height: 85%;
}

.footer {
	height: 5%;
	min-height: 50px;
}

.menuForm {
	width: 100%;
	height: 100%;
	text-align: center;
	
}

.menuButton {
	width: 25%;
	height: 90%;
	margin-left: 20px;
	font-size: xx-large;
}

.emergencyButton {
	background-color: orange;
}

.recipeButton {
	background-color: blue;
}

.shopButton {
	background-color: green;
}

.EmergencyHeader {
	background-color: #FFCC66;
}

.RecipeHeader {
	background-color: blue;
}

.titreForm {
	height: 100%;
	width: 30%;
	float: left;
}
.titreHeader {
	font-size: x-large;
	height: 100%;	
}

.connectForm {
	float: right;
}

.connectInput {
	display: grid;
}

.userHeader {
	float: right;
}

.userHeader p {
	margin: 2px;
}

.logoutButton {
	font-size: x-small;
    height: 20px;
}


